/* Supported - Bishop Justus IT Support Ticket System - Ben Crisp 2014 - ben.crisp22@gmail.com */

/* Main stylesheet */

/* Global */
html,
body {
    background-color: #F8F8F8;
    height: auto;
}
h1.logo {
    font-family: 'Bree Serif', serif;
    font-size: 3.25em;
}
a {
    color: #21AAE1;
}
.button {
    padding: 7px 18px 7px 18px;
    background-color: #21AAE1;
}

p.footer {
    text-align: center;   
}

/* index.php */
#loginContainer {
    margin-top: 150px;
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* user_home.php */
a.menu {
    margin-top: 15px;
}
